---
layout: default
title: NIC Nepal | Projects
page_name: projects
---

<section class="projects-section py-5 wow fadeInUp">
  {% include elevator-pitch.html %}

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="section-title py-4">Projects</h2>
      </div>
    </div>
    <div class="row">
      {% for project in site.data.projects %}
      <div class="col-sm-6 col-lg-3 mb-sm-4">
        <div class="single-project-box">
          <div class="card">
            <!-- <a href="/projects/{{ project.url }}"> -->
            <a href="/projects/{{ project.url }}">
              <img src="/assets/img/projects/{{ project.img }}" class="card-img-top" alt="blog">
              <div class="card-body">
                <h6 class="card-title">{{ project.name }}</h6>
                <!-- {% if project.name.size < 30 %}
                    <h6 class="extra-line"></h6>
                  {% endif %} -->
                <hr>
                <p class="proj-desc mb-0">
                  {{ project.desc | strip_html | truncate: 100 }}
                </p>
                <a href="/projects/{{ project.url }}" class="read-more">Read More</a>
                <!-- <div class="skill">
                    <h5 class="status">Status</h5>
                    <div class="skill-bar skill11 wow slideInLeft animated">
                      <span class="skill-count11">75%</span>
                    </div>
                  </div> -->
              </div>
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <!-- Other Projects -->
    <div class="row">
      <h1 class="py-4 text-center ml-3">Other Projects</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Prototype has been developed and tested for improving the efficiency of existing solar thermal collector (STC)
            technology using selective coating of Nano-particles for water heating applications by a team of three students at
            Kathmandu University. They are developing the commercial product now.</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Developed and tested compact system of water filter and treatment for the rural areas. Now they are redesigning the
            system for commercial use.</td>
          </tr>

          <tr>
            <th scope="row">3</th>
            <td>Developed lead-acid battery charging and maintenance system for electric three wheelers and it is under testing now. Two
            engineers are working on it.</td>
          </tr>
          
          <tr>
            <th scope="row">4</th>
            <td>Three people already developed and launched an e-commerce platform Everest Kart (https://everestkart.com). They are now
            doing marketing for providing services.</td>
          </tr>
          
          <tr>
            <th scope="row">5</th>
            <td>Developing Electronic Medical Recording system for the rural health posts and for telemedicine program with the help of
            a team of Nepali doctors in Japan and the US.</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Two engineers are developing and testing web-based and mobile apps for the rural community schools to provide access to
            educational materials and to help local government manage school system.</td>
          </tr>

          <tr>
            <th scope="row">7</th>
            <td>Three people are developing web-based application for promoting village tourism in the rural areas of Nepal
            https://nepalitreekinghomes.com. It is under development and will be launched in September.</td>
          </tr>

          <tr>
            <th scope="row">8</th>
            <td>Four engineers are converting an old van into an electric van in order to show the government that the Nepal can save
            money by converting the old vehicles to electric vehicles.</td>
          </tr>

          <tr>
            <th scope="row">9</th>
            <td>Development of electronic system to chase monkey and wild animals away to help farmers protect their crops is being
            built and tested. Two engineers are working on it.</td>
          </tr>

          <tr>
            <th scope="row">10</th>
            <td>Development of automatic solar panel cleaning system for the street lights of cities is being done by three engineering
            students of Dharan Engineering College.</td>
          </tr>

          <tr>
            <th scope="row">11</th>
            <td>Development of the prototype of Selroti (Nepali Deep Fried circular Bread) making machine is already done by three
            engineers. They are now developing the commercial product.</td>
          </tr>

          <tr>
            <th scope="row">12</th>
            <td>The students and researchers of RECAST, Tribhuwan University are developing functional food, organic body lotion and
            organic hair coloring dye. They are going to work on that soon.</td>
          </tr>

          <tr>
            <th scope="row">13</th>
            <td>A firm in planning to develop simple agriculture tools in Biratnagar for farmers such as wheat and rice harvester and
            hand tools etc.</td>
          </tr>

          <tr>
            <th scope="row">14</th>
            <td>One engineer is working on to develop simple and cheaper cloth washing machines for low income household living in the
            urban areas.</td>
          </tr>

          <tr>
            <th scope="row">15</th>
            <td>A proposal has been received for the development of a special ATV (All-Terrain Vehicle) for multiple uses that can be
            driven in the rural roads of the mountains of Nepal.</td>
          </tr>

          <tr>
            <th scope="row">16</th>
            <td>One Nepali aeronautical engineer now living and working in the US has been planning to build a two-seater plane and
            provide training to Nepali engineers.</td>
          </tr>
          
          <tr>
            <th scope="row">17</th>
            <td>Two engineers are planning to develop simple and automatic cow milking machine. They are looking for ideas now.</td>
          </tr>
        </tbody>
      </table>
    </div>


  </div>
</section>
