<div class="main-banner">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-7">
        <div class="style-banner">
          <h4 class="mb-2">National Innovation Center</h4>
          <h3 class="mb-5">NEPAL <span class="brand-abbr">(NIC Nepal)</span></h3>
          <h3 class="mb-5">राष्ट्रिय आविष्कार केन्द्र नेपाल</h3>
          <h1 class="highlight">NIC Nepal <span class="typed"></span></h1>
        </div>

      </div>
      <div class="col-lg-5 left-banner">
      </div>
    </div>
  </div>
</div>
