<div class="main-banner">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-10 col-md-10">
        <div class="style-banner">
          <!-- <h4 class="inauguration-text wow fadeInDown">OFFICIAL INAUGURATION</h4>
          <div id="countdown" class="mb-4 wow fadeInDown"></div> -->
          <h4 class="mb-2 wow fadeInDown">National Innovation Center</h4>
          <h3 class="sub-caption wow fadeInDown">NEPAL <span class="brand-abbr">(NIC Nepal)</span></h3>
          <div class="wow fadeInUp">
            <h3 class="nepali-caption">राष्ट्रिय आविष्कार केन्द्र नेपाल</h3>
            <h1 class="highlight">NIC Nepal <span class="typed"></span></h1>
            <a href="/about" class="btn btn-success px-4 py-2 mt-5 rounded-0" role="button">Our Story</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
