<section class="ftco-section pb-0 pt-0">
  <div class="container">
    <div class="row">
      <div class="col-md-7 img-volunteer">
        <div class="row semi-trans-bg justify-content-center">
          <div class="col-lg-8">
            <div class="text py-5 pl-md-4 pr-md-3">
              <h2 class="mb-4">We need Volunteers like You</h2>
              <p class="caption focussed">
                "Volunteering is the ultimate exercise in democracy. You vote in elections once a year, 
                but when you volunteer, you vote every day about the kind of community you want to live in." 
                <br>
                <h4 class="author"> - Author Unknown</h4>
              </p>
              <p><a href="#" class="btn btn-success py-3 px-4">Participate</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5 d-flex align-items-center bg-black">
        <div class="about-text py-5 px-md-3">
          <h2>Donation so far <span>Rs</span><strong class="number">
            <span id="donation-amount">0</span></strong>
          </h2>
          <p>
            Participate in our great campaign for the development of Science and Technology in Nepal . We are thankful to thousands
            of you who have already contributed your ideas, money and time for National Innovation Center (NIC). NIC requires your
            continuous support to move forward towards its goals.
          </p>
          <p><a href="#" class="btn btn-dark py-3 px-4">Donate</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
