<section class="ftco-section pb-0 pt-0">
  <div class="container">
    <div class="row">
      <div class="col-md-6 quick-stats d-flex align-items-center bg-black">
        <div class="about-text p-5">
          <h2>Projects nurturing so far 
            <strong class="number">
              <span id="nurturing-projects">0</span>
            </strong>
          </h2>
          <h4>
            Nearly complete projects
            <span id="nearly-complete-projects">0</span>
          </h4>
          <p class="mt-4">
            We are thankful to thousands of you who have already contributed your ideas, money and valuable time for
            NIC Nepal. We hope your love & support will continue which would help us to move forward towards our goals.
          </p>
          <p><a href="/donate" class="btn btn-donate py-3 px-4">Donate</a></p>
        </div>
      </div>
      <div class="col-md-6 img-volunteer">
        <div class="row semi-trans-bg justify-content-center">
          <div class="text p-5">
            <h2 class="mb-4">We need Volunteers like You</h2>
            <p class="caption focussed">
              "Volunteering is the ultimate exercise in democracy. You vote in elections once a year,
              but when you volunteer, you vote every day about the kind of community you want to live in."
              <br>
              <h4 class="author"> - Author Unknown</h4>
            </p>
            <p><a href="#" class="btn btn-success py-3 px-4">Participate</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
