<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="row">
        <div class="col-md-4 col-sm-12 footer-column">
          <div class="logo-widget footer-widget">
            <div class="footer-title">ABOUT</div>
            <div class="text">
              <p>
                NIC Nepal is a Non-profit distributing company which incorporated on Nov 9th, 2012. 
                The goal of NIC Nepal is to develop the culture of research and innovation in Nepal, 
                retain talented and creative people from going abroad and use their talent for the 
                economic development of nation specifically through research, technology and innovation.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-12 offset-md-1 footer-column">
          <div class="service-widget footer-widget">
            <div class="footer-title">QUICK LINKS</div>
            <ul class="list pl-0">
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/projects">Projects</a></li>
              <li><a href="/">Gallery</a></li>
              <li><a href="/contact">Contact Us</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 footer-widget">
          <div class="contact-widget footer-widget">
            <div class="footer-title">CONTACTS</div>
            <div class="text">
              <a href="https://goo.gl/maps/76FbQzjHeGwNq5aT6" target="_blank">
                <p>
                  <i class="fas fa-map-marker-alt"></i> 
                  <span>Inside Tribhuvan University, Kirtipur, Kathmandu, Nepal - 44618</span>
                </p>
              </a>
              <a href="tel:+977 442 8090" target="_blank">
                <p>
                  <i class="fas fa-phone"></i>
                  <span>+977 442 8090</span>
                </p>
              </a>
              <a href="tel:+977 9841592361">
                <p><i class="fas fa-mobile-alt"></i>
                  <span>+977 9841592361</span>
                </p>
              </a>
              <a href="mailto:nicnepal.mahabir@gmail.com" target="_blank">
                <p><i class="fas fa-envelope"></i>
                  <span>nicnepal.mahabir@gmail.com</span>
                </p>
              </a>
            </div>

            <ul class="footer-social pl-0">
              <li>
                <a href="https://www.facebook.com/nicnepalofficial" target="_blank"><i class="fab fa-facebook-f"></i></a>
              </li>
              <li><a href="https://twitter.com/nic_nepal" target="_blank"><i class="fab fa-twitter"></i></a></li>
              <li><a href="https://www.linkedin.com/company/nicnepal" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
              <li><a href="https://github.com/nicnepalofficial" target="_blank"><i class="fab fa-github"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="copyright text-center"><a href="#">NIC Nepal</a> © 2019 | All Right Reserved</div>
      </div>
    </div>
  </div>
</div>
