<section class="how-to-support p-6">
  <div class="container">
    <h2 class="section-title text-center">How To Support</h2>
    <h2 class="quotetext text-center mb-4">
      "You can also take part in making Nepal economically developed."
    </h2>

    <div class="row">
      <div class="col-md-4 col-lg-4 mb-4 text-center">
        <span class="flaticon-piggy-bank d-block mb-3 display-3 text-secondary"></span>
        <h3 class="text-primary h4 mb-2">Make Donation</h3>
        <div class="text-center caption">
          Bring ideas and skills to help establish and run innovation centers in the most productive ways
        </div>
      </div>
      <div class="col-md-4 col-lg-4 mb-4 text-center">
        <span class="flaticon-blood d-block mb-3 display-3 text-secondary"></span>
        <h3 class="text-primary h4 mb-2">Medical Health</h3>
        <div class="text-center caption">
          Sign up to become mentors for talented Nepali innovators and inventors if you are expert
        </div>
      </div>
      <div class="col-md-4 col-lg-4 mb-4 text-center">
        <span class="flaticon-food d-block mb-3 display-3 text-secondary"></span>
        <h3 class="text-primary h4 mb-2">Food for the Poor</h3>
        <div class="text-center caption">
          Provide one time financial support and material support in whatever capacity you can
        </div>
      </div>
    </div>
    <div class="row">  
      <div class="col-md-4 col-lg-4 mb-4 offset-md-1 offset-lg-1 text-center">
        <span class="flaticon-donation d-block mb-3 display-3 text-secondary"></span>
        <h3 class="text-primary h4 mb-2">Help &amp; Love</h3>
        <div class="text-center caption">
          Promote the importance of the Innovation Center with your relatives, friends and others
        </div>
      </div>
      <div class="col-md-4 col-lg-4 mb-4 offset-md-2 offset-lg-2 text-center">
        <span class="flaticon-dollar d-block mb-3 display-3 text-secondary"></span>
        <h3 class="text-primary h4 mb-2">Give To The Needy</h3>
        <div class="text-center caption">
          Become investors for commercializing the products the innovators develop at NIC.
        </div>
      </div>
    </div>

  </div>
</div>
