<section class="incubation-and-our-support pt-6 pb-4">
  <div class="container-fluid">
    <h2 class="quotetext text-center mb-4">
      "Give a man a fish, You feed him for a day. Teach a man to fish, you feed him for life"
      <span class="author"> - Chinese Axiom</span>
    </h2>

    <div class="row">
      <div class="col-lg-6 col-md-6 border-right">
        <h2 class="section-title text-center">Incubation Process</h2>
        <img src="/assets/img/funnel-bg-trans.png" class="img-fluid" />
      </div>
      <div class="col-lg-6 col-md-6">
        <h2 class="section-title text-center pb-4">Our Support</h2>

        <nav class="our-support-steps">
          <div class="nav nav-tabs nav-justified" id="our-support-tab" role="tablist">
            <a class="nav-item nav-link active" data-toggle="tab" href="#first-step" role="tab">
              STEP ONE
            </a>
            <a class="nav-item nav-link" data-toggle="tab" href="#second-step" role="tab">
              STEP TWO
            </a>
            <a class="nav-item nav-link" data-toggle="tab" href="#third-step" role="tab">
              STEP THREE
            </a>
            <a class="nav-item nav-link" data-toggle="tab" href="#fourth-step" role="tab">
              STEP FOUR
            </a>
          </div>
        </nav>

        <!-- Tab panes -->
        <div class="tab-content text-center" id="our-support-tabContent">
          <div role="tabpanel" class="tab-pane fade show active" id="first-step">
            <i class="fas fa-hand-holding-usd"></i>
            <p class="support-caption">Provide full financial support, Induction<br> and Initial ramp up</p>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="second-step">
            <i class="fas fa-hand-holding-usd"></i>
            <p class="support-caption">Mentoring for prototype design <br>and product development</p>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="third-step">
            <i class="fas fa-hand-holding-usd"></i>
            <p class="support-caption">
              Guidance in securing patents, trademarks,<br> intellectual property rights etc
            </p>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="fourth-step">
            <i class="fas fa-hand-holding-usd"></i>
            <p class="support-caption">
              Introduce to potential investors <br>to promote as products and services
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
