<div class="container products mb-4">
  <h1>Our Products</h1>
  <div class="row">
    <div class="col-md-4">
      <img class="rounded-circle" data-src="holder.js/200x200?theme=vine" alt="Product Image">
      <h2>Heading</h2>
      <p>
        This is the content for the product which should give brief intro about it and its features. It is
        recommended to have consistent no of lines for description of each product and the size of the image
        should be same.
      </p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <img class="rounded-circle" data-src="holder.js/200x200?theme=grey" alt="Product Image">
      <h2>Heading</h2>
      <p>
        This is the content for the product which should give brief intro about it and its features. It is
        recommended to have consistent no of lines for description of each product and the size of the image
        should be same.
      </p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <img class="rounded-circle" data-src="holder.js/200x200?theme=lava" alt="Product Image">
      <h2>Heading</h2>
      <p>
        This is the content for the product which should give brief intro about it and its features. It is
        recommended to have consistent no of lines for description of each product and the size of the image
        should be same.
      </p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>
</div>
