/* Custom SCSS */

body {
  font-family: "Nunito Sans", Arial, sans-serif;
  background: #fff;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 600;
  color: #999999;
}

.btn-primary {
  background: #07125f;
  border: transparent;
  font-size: 15px;
  padding: 15px 25px;
}
.btn-primary:hover {
  background: #0f209a;
}

@import "home";
@import "products";
@import "services";
@import "responsive";
