/* Custom SCSS */

body {
  font-family: "Nunito Sans", Arial, sans-serif;
  background: #fff;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 600;
  color: #999999;
}

@import "home";
@import "products";
@import "services";
@import "responsive";
